.containerPagina {
  display: flex;
  flex-wrap: wrap;
  gap: 0 40px;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 40px 16px;
  box-sizing: border-box;
}

.coluna {
  flex: 1;
  min-width: 280px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
}

.titulo {
  font: var(--font-01-lg-sb);
  margin-bottom: 25px;
}

.subtitulo {
  font: var(--font-01-md-sb);
}

.datas {
  font: var(--font-02-sm);
  color: var(--gray-1000);
}

.dia {
  font: var(--font-02-xs);
  color: var(--gray-1000);
}

.editar {
  background-color: var(--primary-900);
  border: none;
  color: var(--white);
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  font: var(--font-02-xxs);
}

.editar:hover {
  background-color: var(--primary-700);
}

.textoLogin {
  margin-top: 25px;
  font: var(--font-01-md-sb);
}

.login {
  width: 100%;
  margin-top: 10px;
  padding: 16px 0;
  border-radius: 8px;
  border: 1px solid var(--primary-700);
  color: var(--primary-600);
  cursor: pointer;
  background: var(--white);
  font: var(--font-02-xs);
}

.login:hover {
  background: var(--primary-100);
}

.iconesMidias {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.coluna2 {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
}

.cartao {
  border: 1px solid var(--gray-400);
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.imagemHotel {
  border-radius: 10px;
  width: 120px;
  height: auto;
  max-width: 150px;
}

.tituloCartao {
  font: var(--font-02-md);
}

.avaliacao {
  font: var(--font-02-xxs);
  color: var(--gray-1000);
  margin: 4px 0;
}

.icones {
  display: flex;
  gap: 16px;
  margin-bottom: 12px;
}

.itemIcone {
  display: flex;
  align-items: center;
  gap: 6px;
}

.pagamento {
  margin-top: 10px;
  margin-bottom: 16px;
}

.tituloPagamento {
  font: var(--font-02-md);
  margin-bottom: 6px;
}

.infoPreco {
  font: var(--font-01-xxs-sb);
  color: var(--gray-900);
}

.detalhesPreco {
  font: var(--font-02-sm);
  margin-top: 3px;
}

.total {
  font: var(--font-02-sm);
  margin-top: 8px;
}

.informacao2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.quartoInformacao {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
}

.pagamentoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.informacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botaoContainer {
  display: flex;
  justify-content: flex-end;
}

.botaoFinalizar {
  width: 100%;
  background-color: var(--primary-800);
  color: var(--white);
  padding: 12px 0;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font: var(--font-01-xs-sb);
}

.botaoFinalizar:hover {
  background-color: var(--primary-700);
}

@media (max-width: 768px) {
  .containerPagina {
    flex-direction: column;
    gap: 30px;
    padding: 20px;
  }
  .containerLogin {
    order: 3;
  }

  .coluna,
  .coluna2 {
    width: 100%;
  }

  .titulo {
    font: var(--font-01-lg-sb);
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .subtitulo {
    font: var(--font-01-md-sb);
    margin-top: 2px;
    margin-bottom: 8px;
  }

  .informacao2 {
    margin-bottom: 12px;
  }

  .quartoInformacao {
    grid-template-columns: 90px 1fr;
  }

  .imagemHotel {
    width: 100%;
    height: auto;
  }

  .cartao {
    padding: 16px;
  }

  .informacao {
    flex-direction: row;
    justify-content: space-between;
  }
  .itemMeio {
    display: none;
  }
}
