.selectContainer {
  display: grid;
  gap: 0.125rem;
  height: max-content;
  position: relative;
}

.label {
  font: var(--font-02-xs);
  color: var(--gray-1000);
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 0.0625rem var(--gray-300);
  border-radius: 0.5rem;
  height: 3rem;
  padding: 0 0.75rem;
}

.placeholder {
  font: var(--font-02-xs);
  color: var(--gray-600);
}

.activeValue {
  font: var(--font-02-xs);
  color: var(--gray-1000);
}

.optionList {
  background-color: var(--gray-100);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  z-index: 1;
}

.optionItem {
  padding: 0.5rem 0.75rem;
}

.optionItem:hover {
  background-color: var(--gray-200);
}
