.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
}

.formColumn {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1.25rem;
}

.inputContainer,
.textareaContainer {
  display: grid;
  gap: 0.125rem;
  align-content: start;
}

.textareaContainer {
  grid-template-rows: auto 1fr;
}

.label {
  font: var(--font-02-xs);
  color: var(--gray-1000);
}

.input,
.textareaInput {
  border-radius: 0.5rem;
  border: solid 0.0625rem var(--gray-300);
  height: 3rem;
  padding: 0 0.75rem;
  outline: none;
}

.textareaInput {
  display: block;
  height: 100%;
  resize: none;
  padding: 0.75rem;
}

.bedAndGuestAndButtonContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.25rem;
}

.bedAndGuestContainer {
  display: grid;
  grid-template-columns: 6rem 6rem;
  gap: 0.75rem;
}

.nextStepButton {
  font: var(--font-01-xs-sb);
  border-radius: 0.5rem;
  border: none;
  background-color: var(--primary-1000);
  color: var(--gray-100);
}
