.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
}

.formColumn {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1.25rem;
}

.textareaContainer {
  display: grid;
  gap: 0.125rem;
  align-content: start;
  grid-template-rows: auto 1fr;
}

.textareaInput {
  display: block !important;
  height: 100% !important;
  resize: none;
  padding: 0.75rem !important;
}

.bedAndGuestAndButtonContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.25rem;
}

.bedAndGuestContainer {
  display: grid;
  grid-template-columns: 6rem 6rem;
  gap: 0.75rem;
}
