.formContainer {
  display: grid;
  gap: 1.25rem;
}

.topInputLine {
  display: grid;
  grid-template-columns: 12.5rem 22rem;
  gap: 1.25rem;
}

.mediumInputLine {
  display: grid;
  grid-template-columns: 20rem 12.5rem;
  gap: 1.25rem;
}

.stayInputContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
}

.unavailableDaysContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
  border: solid 0.0625rem var(--gray-300);
  border-radius: 0.5rem;
  color: var(--gray-600);
}

.unavailableDaysPlaceholder {
  font: var(--font-02-xscx);
}

.weekdaysSelectContainer {
  display: flex;
  gap: 0.75rem;
}

.weekdaysSelectItem {
  font: var(--font-02-xs);
  color: var(--gray-900);
  padding: 0.5rem 1rem;
  border: solid 0.0625rem var(--gray-900);
  border-radius: 0.5rem;
  text-transform: capitalize;
}

.weekdaysSelectItem.active {
  background-color: var(--gray-900);
  color: var(--gray-100);
}
