.clearButton {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.125rem 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: transparent;
  color: var(--gray-700);
  font: var(--font-02-xxs);
  line-height: normal;
  cursor: pointer;
  transition: all 0.2s ease;
  text-decoration: underline;
  margin-left: 8rem;
  margin-right: auto;
  margin-top: 2.5rem;
}

.clearButton:hover {
  color: var(--gray-900);
}
