.usuarioContainer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.usuario {
  border-radius: 99px;
  cursor: pointer;
}

.popoverContent {
  display: flex;
  flex-direction: column;
  padding: 6px;
  gap: 2px;
  min-width: 150px;
}

.popoverItem {
  background-color: var(--white);
  border: none;
  border-radius: 6px;
  font: var(--font-01-sm-r);
  color: var(--gray-900);
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  text-align: start;
}

.popoverItem:hover {
  background-color: var(--gray-200);
}
