.numberInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  height: 3rem;
  padding: 0 0.75rem;
  border-radius: 0.5rem;
  border: solid 0.0625rem var(--gray-200);
  position: relative;
}

.label {
  background-color: var(--white);
  padding: 0 0.25rem;
  font: var(--font-02-xxs);
  color: var(--gray-800);
  position: absolute;
  top: -0.625rem;
}

.beforeIcon {
  display: flex;
  align-items: center;
  font: var(--font-02-xxs);
  font-weight: bold;
  color: var(--gray-800);
}

.numberInput {
  font: var(--font-02-xs);
  color: var(--gray-800);
  border: none;
  outline: none;
  width: 100%;
}

.numberInput::-webkit-inner-spin-button,
.numberInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputAndAfterinputContainer {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 0.25rem;
  font: var(--font-02-xs);
  color: var(--gray-800);
}

.controls {
  display: grid;
  gap: 0.125rem;
  color: var(--gray-800);
}
