:root {
  /* Gray Colors Variables */
  --white: #ffffff;
  --gray-100: #f7f7f7;
  --gray-200: #ededed;
  --gray-300: #dedede;
  --gray-400: #cccccc;
  --gray-500: #b2b2b2;
  --gray-600: #9c9c9c;
  --gray-700: #707070;
  --gray-800: #595959;
  --gray-900: #404040;
  --gray-1000: #2e2e2e;
  --gray-1100: #121212;
  --black: #000000;

  /* Primary Colors Variables */
  --primary-100: #e7def7;
  --primary-200: #cebeef;
  --primary-300: #b69de7;
  --primary-400: #9d7cde;
  --primary-500: #855cd6;
  --primary-600: #6d3cce;
  --primary-700: #5a2db4;
  --primary-800: #492593;
  --primary-900: #391d72;
  --primary-1000: #291452;
  --primary-1100: #1d0e3a;
  --primary-1200: #0c0619;

  --blue-400: #228BE6;

  /* Font Variables */
  --font-01-xl-sb: 600 4rem/5rem "Poppins", sans-serif;
  --font-01-l-sb: 600 3rem/4rem "Poppins", sans-serif;
  --font-01-lg-sb: 600 2rem/3.5rem "Poppins", sans-serif;
  --font-02-lg: 400 2rem/3.5rem "Roboto", sans-serif;
  --font-01-md-sb: 600 1.5rem/2.25rem "Poppins", sans-serif;
  --font-02-md: 400 1.5rem/2.25rem "Roboto", sans-serif;
  --font-01-sm-sb: 600 1.125rem/1.5rem "Poppins", sans-serif;
  --font-02-sm: 400 1.125rem/1.5rem "Roboto", sans-serif;
  --font-01-xs-sb: 600 1rem/1.5rem "Poppins", sans-serif;
  --font-02-xs: 400 1rem/1.5rem "Roboto", sans-serif;
  --font-01-xxs-sb: 600 0.875rem/1.25rem "Poppins", sans-serif;
  --font-02-xxs: 400 0.875rem/1.25rem "Roboto", sans-serif;
  --font-02-xxs: 400 0.75rem/1.25rem "Roboto", sans-serif;

  /* Space Variables */
  --space-none: 0px;
  --space-quark: 2px;
  --space-nano: 4px;
  --space-nano-plus: 6px;
  --space-xxs: 8px;
  --space-xs: 12px;
  --space-sm: 16px;
  --space-md: 20px;
  --space-md-plus: 24px;
  --space-lg: 32px;
  --space-lg-plus: 36px;
  --space-xl: 40px;
  --space-2xl: 48px;
  --space-3xl: 64px;
  --space-4xl: 72px;
  --space-5xl: 80px;
  --space-6xl: 120px;
  --space-7xl: 160px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
