.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  width: 245px;
  height: 48px;
  top: 373px;
  background: var(--primary-900);
  color: var(--white);
  border-radius: 8px;
  font: var(--font-02-sm);
  cursor: pointer;
  border: none;
}

.button:hover {
  background: var(--primary-700);
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titulo {
    font: var(--font-01-lg-sb);
}

.avaliacoes {
    font: var(--font-02-xxs);
}

.span {
    font: var(--font-02-xs)
}

.localizacao {
    font: var(--font-02-sm)
}

.estrelasContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.descricao {
    font: var(--font-01-md-sb);
    color: var(--gray-1000)
}

.paragrafo {
    font: var(--font-02-xs);
}

.comodidades {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 20px;
}

.comodidade {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font: var(--font-02-xs);
}

.item {
    color: var(--primary-800)
}
.subtitulo{
    margin-top: 12px;
    margin-bottom: 12px;
}