.moneyInputContainer {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: max-content;
  height: 3rem;
  padding: 0 0.75rem;
  margin-top: 0.25rem;
  border-radius: 0.5rem;
  border: solid 0.0625rem var(--gray-200);
  position: relative;
}

.label {
  background-color: var(--white);
  padding: 0 0.25rem;
  font: var(--font-02-xxs);
  color: var(--gray-800);
  position: absolute;
  top: -0.625rem;
}

.moneySymbol {
  font: var(--font-02-xxs);
  font-weight: bold;
  color: var(--gray-800);
}

.moneyInput {
  border: none;
  outline: none;
  width: 100%;
}

.moneyInput::-webkit-inner-spin-button,
.moneyInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.controls {
  display: grid;
  gap: 0.125rem;
  color: var(--gray-800);
}
