.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    gap: 20px;
}

.image {
    border-radius: 10px ;
}

.detalhes {
    width: 100%
}